body {
    font-family: Arial;
    text-align: center;
    background-color: #0d60dc;
}

/* Tabla */
table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: rgb(46, 19, 220);
    border-radius: 8px;
    overflow: hidden;
}

/* Encabezado */
th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
}

/* Celdas */
td {
    border: 1px solid #ee0f0f;
    padding: 10px;
}

/* Filas alternas */
tr:nth-child(even) {
    background-color: #7256d7;
}

/* Hover */
tr:hover {
    background-color: #1275df;
    transition: 0.2s;
}

.bajo {
    color: red;
    font-weight: bold;
}

.medio {
    color: orange;
    font-weight: bold;
}

.alto {
    color: green;
    font-weight: bold;
}