<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agregar a la Cola</title>
</head>

<body>

    <h1>Agregar Paciente a la Cola</h1>

    <form action="/agregar_cola" method="post">

        <label>Nombre del Paciente:</label>

        <input
            type="text"
            name="nombre"
            required
        >

        <br><br>

        <button type="submit">
            Agregar a la Cola
        </button>

    </form>

    <br>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <a href="/">
        <button>Volver al Inicio</button>
    </a>

</body>

</html>