<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>

    <div class="contenedor">
        <h1>Hospital Entre Venas & Sueños</h1>
        <p>Sistema de gestión de pacientes</p>

        <img src="/static/hospital.jpeg" class="imagen">

        <div>
            <a href="/registrar">
                <button>Registrar paciente</button>
            </a>

            <a href="/pacientes">
                <button>Ver pacientes</button>
            </a>
        </div>
    </div>

</body>
</html>