<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Sistema Hospitalario</title>
</head>

<body>

    <h1>Sistema Hospitalario</h1>

    <a href="/registrar">
        <button>Registrar Paciente</button>
    </a>

    <br><br>

    <a href="/agregar_cola">
        <button>Agregar Paciente a la Cola</button>
    </a>

    <br><br>

    <a href="/pacientes">
        <button>Ver Cola de Atención</button>
    </a>

    <br><br>

    <a href="/historial">
        <button>Ver Historial</button>
    </a>

</body>

</html>