<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cola de Atención</title>
</head>

<body>

    <h1>Cola de Atención</h1>

    {% if mensaje %}
        <h3>{{ mensaje }}</h3>
    {% endif %}

    <ul>

        {% for paciente in pacientes %}

            <li>

                <strong>
                    {{ paciente.nombre }}
                </strong>

                -

                {{ paciente.enfermedad }}

                -

                Prioridad:
                {{ paciente.prioridad }}

            </li>

            <br>

        {% endfor %}

    </ul>

    <form action="/atender" method="post">

        <button type="submit">
            Atender Siguiente Paciente
        </button>

    </form>

    <br>

    <a href="/">
        <button>Volver al Inicio</button>
    </a>

</body>

</html>