<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registrar Paciente</title>
</head>

<body>

    <h1>Registrar Paciente</h1>

    <form action="/guardar" method="post">

        <label>Nombre:</label>
        <input type="text" name="nombre" required>

        <br><br>

        <label>Enfermedad:</label>
        <input type="text" name="enfermedad" required>

        <br><br>

        <label>Prioridad:</label>

        <select name="prioridad">

            <option value="1">
                1 - Urgente
            </option>

            <option value="2">
                2 - Media
            </option>

            <option value="3">
                3 - Baja
            </option>

        </select>

        <br><br>

        <button type="submit">
            Registrar
        </button>

    </form>

    <br>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <a href="/">
        <button>Volver al Inicio</button>
    </a>

</body>

</html>