<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Agregar a la Cola</title>

    <link rel="stylesheet" href="/static/estilos.css">

</head>

<body>

    <div class="contenedor">

        <h1>Agregar Paciente a la Cola</h1>

        <div class="formulario">

            <form action="/agregar_cola" method="post">

                <label>Nombre del Paciente</label>

                <input
                    type="text"
                    name="nombre"
                    required
                >

                <button type="submit">
                    Agregar a la Cola
                </button>

            </form>

            {% if mensaje %}

                <p class="mensaje">
                    {{ mensaje }}
                </p>

            {% endif %}

        </div>

        <br>

        <a href="/">
            <button>Volver al Inicio</button>
        </a>

    </div>

</body>

</html>