<!DOCTYPE html>
<html>

<head>
    <title>Hoteles</title>
</head>

<body>

    <h1>Lista de Hoteles</h1>

    {% for hotel in hoteles %}

        <div>

            <h2>{{ hotel.nombre }}</h2>

            <p>Código: {{ hotel.codigo }}</p>

            <p>Ciudad: {{ hotel.ciudad }}</p>

            <p>Valor por noche: {{ hotel.valornoche }}</p>

        </div>

        <hr>

    {% endfor %}

    <h1>Lista de Clientes</h1>

    {% for cliente in clientes %}

        <div>

            <h2>{{ cliente.nombre }}</h2>

            <p>ID: {{ cliente.id }}</p>

            <p>Correo: {{ cliente.correo }}</p>

        </div>

        <hr>

    {% endfor %}

</body>

</html>