<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>

    <div class="contenedor">
        <h1>Hospital Entre Venas & Sueños</h1>
        <p>Sistema de gestión de pacientes</p>
        <img src="/static/hospital.jpeg" class="imagen">
</head>

<body>

        <a href="/registrar">
            <button>Registrar Paciente</button>
        </a>

        <br><br>

        <a href="/agregar_cola">
            <button>Agregar Paciente a la Cola</button>
        </a>

        <br><br>

        <a href="/pacientes">   
            <button>Ver Cola de Atención</button>
        </a>

        <br><br>

        <a href="/historial">
            <button>Ver Historial</button>
        </a>

    </div>

</body>

</html>